AVISO: Vßriavel DATABASE_URL nÒo encontrada. Usando banco de dados SQLite local 'app.db'.
DEBUG: Pasta UPLOAD_FOLDER jß existe: C:\Users\Ricardo\Desktop\worklistpro\Minha-lista\temp_uploads
DEBUG: Pasta de logos no Volume jß existe: /mnt/data\partner_logos
CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 62b3e5426573

CREATE TABLE banco (
    id INTEGER NOT NULL, 
    nome VARCHAR(100) NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (nome)
);

CREATE TABLE convenio (
    id INTEGER NOT NULL, 
    nome VARCHAR(100) NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (nome)
);

CREATE TABLE grupo (
    id INTEGER NOT NULL, 
    nome VARCHAR(100) NOT NULL, 
    color VARCHAR(7), 
    logo_filename VARCHAR(255), 
    PRIMARY KEY (id), 
    UNIQUE (nome)
);

CREATE TABLE produto (
    id INTEGER NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE situacao (
    id INTEGER NOT NULL, 
    nome VARCHAR(100) NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (nome)
);

CREATE TABLE tabulation (
    id INTEGER NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    color VARCHAR(7), 
    is_recyclable BOOLEAN, 
    recycle_in_days INTEGER, 
    is_positive_conversion BOOLEAN, 
    PRIMARY KEY (id), 
    UNIQUE (name)
);

CREATE TABLE tipo_de_operacao (
    id INTEGER NOT NULL, 
    nome VARCHAR(100) NOT NULL, 
    PRIMARY KEY (id), 
    UNIQUE (nome)
);

CREATE TABLE layout_mailing (
    id INTEGER NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    produto_id INTEGER NOT NULL, 
    mapping JSON NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(produto_id) REFERENCES produto (id), 
    UNIQUE (name)
);

CREATE TABLE user (
    id INTEGER NOT NULL, 
    username VARCHAR(64), 
    email VARCHAR(120), 
    password_hash VARCHAR(256), 
    role VARCHAR(20), 
    last_login DATETIME, 
    theme VARCHAR(20), 
    grupo_id INTEGER, 
    current_status VARCHAR(50), 
    status_timestamp DATETIME, 
    last_activity_at DATETIME, 
    wallet_limit INTEGER, 
    daily_pull_limit INTEGER, 
    PRIMARY KEY (id), 
    FOREIGN KEY(grupo_id) REFERENCES grupo (id)
);

CREATE UNIQUE INDEX ix_user_email ON user (email);

CREATE UNIQUE INDEX ix_user_username ON user (username);

CREATE TABLE background_task (
    id VARCHAR(36) NOT NULL, 
    user_id INTEGER NOT NULL, 
    task_type VARCHAR(50) NOT NULL, 
    status VARCHAR(20) NOT NULL, 
    message TEXT, 
    progress INTEGER, 
    start_time DATETIME, 
    end_time DATETIME, 
    total_items INTEGER, 
    items_processed INTEGER, 
    details JSON, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES user (id)
);

CREATE TABLE lead (
    id INTEGER NOT NULL, 
    nome VARCHAR(150) NOT NULL, 
    cpf VARCHAR(11) NOT NULL, 
    telefone VARCHAR(20), 
    telefone_2 VARCHAR(20), 
    cidade VARCHAR(100), 
    rg VARCHAR(100), 
    estado VARCHAR(2), 
    bairro VARCHAR(100), 
    cep VARCHAR(10), 
    convenio VARCHAR(100), 
    orgao VARCHAR(100), 
    nome_mae VARCHAR(150), 
    sexo VARCHAR(10), 
    nascimento VARCHAR(20), 
    idade INTEGER, 
    tipo_vinculo VARCHAR(50), 
    rmc VARCHAR(20), 
    valor_liberado VARCHAR(50), 
    beneficio VARCHAR(50), 
    logradouro VARCHAR(200), 
    numero VARCHAR(20), 
    complemento VARCHAR(100), 
    extra_1 VARCHAR(255), 
    extra_2 VARCHAR(255), 
    extra_3 VARCHAR(255), 
    extra_4 VARCHAR(255), 
    extra_5 VARCHAR(255), 
    extra_6 VARCHAR(255), 
    extra_7 VARCHAR(255), 
    extra_8 VARCHAR(255), 
    extra_9 VARCHAR(255), 
    extra_10 VARCHAR(255), 
    produto_id INTEGER NOT NULL, 
    status VARCHAR(50), 
    consultor_id INTEGER, 
    tabulation_id INTEGER, 
    data_criacao DATETIME, 
    data_tabulacao DATETIME, 
    available_after DATETIME, 
    additional_data JSON, 
    PRIMARY KEY (id), 
    FOREIGN KEY(consultor_id) REFERENCES user (id), 
    FOREIGN KEY(produto_id) REFERENCES produto (id), 
    FOREIGN KEY(tabulation_id) REFERENCES tabulation (id)
);

CREATE INDEX ix_lead_available_after ON lead (available_after);

CREATE INDEX ix_lead_consultor_id ON lead (consultor_id);

CREATE UNIQUE INDEX ix_lead_cpf ON lead (cpf);

CREATE INDEX ix_lead_estado ON lead (estado);

CREATE INDEX ix_lead_produto_id ON lead (produto_id);

CREATE INDEX ix_lead_status ON lead (status);

CREATE TABLE system_log (
    id INTEGER NOT NULL, 
    user_id INTEGER, 
    timestamp DATETIME, 
    action_type VARCHAR(50), 
    entity_type VARCHAR(50), 
    entity_id VARCHAR(36), 
    description TEXT, 
    details JSON, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES user (id)
);

CREATE INDEX ix_system_log_action_type ON system_log (action_type);

CREATE INDEX ix_system_log_timestamp ON system_log (timestamp);

CREATE TABLE activity_log (
    id INTEGER NOT NULL, 
    lead_id INTEGER NOT NULL, 
    user_id INTEGER NOT NULL, 
    tabulation_id INTEGER, 
    action_type VARCHAR(50) NOT NULL, 
    timestamp DATETIME, 
    PRIMARY KEY (id), 
    FOREIGN KEY(lead_id) REFERENCES lead (id), 
    FOREIGN KEY(tabulation_id) REFERENCES tabulation (id), 
    FOREIGN KEY(user_id) REFERENCES user (id)
);

CREATE INDEX ix_activity_log_timestamp ON activity_log (timestamp);

CREATE TABLE lead_consumption (
    id INTEGER NOT NULL, 
    user_id INTEGER NOT NULL, 
    lead_id INTEGER NOT NULL, 
    timestamp DATETIME, 
    PRIMARY KEY (id), 
    FOREIGN KEY(lead_id) REFERENCES lead (id), 
    FOREIGN KEY(user_id) REFERENCES user (id)
);

CREATE TABLE proposta (
    id INTEGER NOT NULL, 
    lead_id INTEGER NOT NULL, 
    banco_id INTEGER NOT NULL, 
    convenio_id INTEGER NOT NULL, 
    situacao_id INTEGER NOT NULL, 
    tipo_operacao_id INTEGER NOT NULL, 
    valor_total FLOAT, 
    valor_parcela FLOAT, 
    prazo INTEGER, 
    data_proposta DATETIME, 
    PRIMARY KEY (id), 
    FOREIGN KEY(banco_id) REFERENCES banco (id), 
    FOREIGN KEY(convenio_id) REFERENCES convenio (id), 
    FOREIGN KEY(lead_id) REFERENCES lead (id), 
    FOREIGN KEY(situacao_id) REFERENCES situacao (id), 
    FOREIGN KEY(tipo_operacao_id) REFERENCES tipo_de_operacao (id)
);

INSERT INTO alembic_version (version_num) VALUES ('62b3e5426573') RETURNING version_num;

-- Running upgrade 62b3e5426573 -> 5486bcc17bf2

FAILED: This operation cannot proceed in --sql mode; batch mode with dialect sqlite requires a live database connection with which to reflect the table "lead". To generate a batch SQL migration script using table "move and copy", a complete Table object should be passed to the "copy_from" argument of the batch_alter_table() method so that table reflection can be skipped.
